<Jumbo>
  <h2>{{@gif.title}}</h2>
  <ShareButton @text="Check out {{@gif.title}} on Top Giffy!" @hashtags="gifs" @via="emberjs"> Share on Twitter
  </ShareButton>
</Jumbo>

<article class="gif detailed">
  <Gif::Image src={{@gif.images.original.url}} alt="{{@gif.title}}" />

  <div class="details">
    <h3>About {{@gif.title}}</h3>

    <div class="detail owner">
      <span>Creator:</span> {{#if @gif.user.dispay_name }} {{@gif.user.dispay_name}} {{else}} N/A {{/if}}
    </div>
    <div class="detail type">
      <span>GIPHY Profile:</span> {{#if @gif.user.profile_url }}{{ @gif.user.profile_url}} {{else}} N/A {{/if}}
    </div>
    <div class="detail location">
      <span>Description:</span> {{#if @gif.user.description}} {{@gif.user.description}} {{else}} N/A {{/if}}
    </div>
    <div class="detail bedrooms">
      <span>GIPHY Link:</span> {{#if @gif.url}} {{@gif.url}} {{else}} N/A {{/if}}
    </div>
  </div>

</article>